#container {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
  justify-content: center;
  width: 30vw;
  margin: 0 auto;
  background-color: #522546;
  padding: 1rem;
}

#messageBox {
  font-size: large;
  text-align: center;
  font-weight: bold;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #522546;
  width: 30vw;
}

#restartBtn {
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: white;
  border-width: 5px;
  font-weight: bold;
}

.winButton {
  border-color: black;
}

.cell {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 5px;
  font-weight: bold;
  font-size: 2vw;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: darkgray;
  color: black;
}

h1 {
  text-align: center;
}

body {
  background-color: #311d3f;
  color: white;
}

hr {
  width: 50%;
  margin-bottom: 2rem;
}
